@use '../abstract' as a;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .15);
  padding: 1em;
  width: 100%;
}


.navlinks {
  display: flex;
}

nav a {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin-left: .25em;
  margin-right: .25em;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.nav_logo_container {
  display: flex;
  align-items: center;

  & img {
    margin-right: .5em;
  }

  & span {
    font-weight: 700;
  }
}

.cta {
  border-radius: 5px;
  background-color: a.$clr-main;
  color: black;
}