@use '../abstract' as a;

button {
  @include a.flex;
  border: none;
  background-color: rgba(0,0,0,0);
  padding: .5em 1em;
  border-radius: .5ch;
  cursor: pointer;
  transition: transform .25s ease-in-out;
}

.icon {
  height: 1em;
  width: 1em;
}

