@use '../abstract' as a;
nav {
  background-color: rgba(0, 0, 0, .15);
  padding: 1em;
}

nav a {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, .15);
  margin-left: .25em;
  margin-right: .25em;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}