{% extends "./views/base.html" %}

{% block title %}Create Tournament{% endblock %}

{% block content %}
<script>
    var data =
</script>
<h1>Create tournament</h1>
    <table>
    <thead>
        <tr>
            <th>Add</th>
            <th>ID</th>
            <th>Chess ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
            <th>Elo Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
            <tr>
                <td><input type="checkbox"/></td>
                <td>{{ player.id }}</td>
                <td>{{ player.chess_id }}</td>
                <td>{{ player.first_name }}</td>
                <td>{{ player.last_name }}</td>
                <td>{{ player.birthdate }}</td>
                <td>{{ player.elo }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
