@use '../abstract' as a;

.tournaments_table_header {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.tournaments_table_body {
}

.tournament_row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}