@use '../abstract' as a;

.players_page {
  display: flex;
  justify-content: center;
}

.player_table_container {
  max-width: 1200px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.player_table_header,
.player_row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
}

.player_table_header_cell {
  font-weight: 700;
  color: a.$clr-main;
}
